
html {
    color: black;
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
    font-family: "Courier";
}

h2 {
    width: 100%;
    background-color: darkgrey;
    padding-left: 5px;
}

h3 {
    width: 100%;
    background-color: lightgrey;
    padding-left: 5px;
}


code {
    color: darkblue;
    font-family: "Courier";
}

